@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {width: 100%;}
body {background-color: #000000; font-family: inter-variable, sans-serif; font-variation-settings: "slnt" 0, "wght" 400; color: #ffffff;}

.clearfix::after {display: block; content:""; clear: both;}
header, .header_bg, nav, nav ul, nav li, nav a, h1 {z-index: 999;}

.blur {backdrop-filter: blur(10px);}
.whiteblur {backdrop-filter: blur(10px); background-color: rgba(255,255,255,0.5);}
.white {color: #ffffff; fill: #ffffff;}
.black {color: #000000; fill: #000000; opacity: 0.4;}

.wrap {overflow: hidden;}

header {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
}

.header_bg {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    transition-duration: 0.3s;
}

.header_wrap {
    width: calc(100% - 40px);
    margin: 0 auto;
    position: relative;
}

h1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    position: absolute;
    top: -40px;
    opacity: 0;
}

h1 a {
    display: block;
    width: 100%;
}

h1 path {fill: #ffffff; transition-duration: 0.3s;}
h1 path:last-child {fill: none; stroke: #ffffff;}

nav {
    width: 60%;
    height: 80px;
    padding: 0 5%;
    position: fixed;
    top: 0;
}

nav ul {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff;
    opacity: 0.7;
    transition-duration: 0.2s;
}

nav a:hover {opacity: 1;}