@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {width: 100%;}

body {background-color: #000000; font-family: inter-variable, sans-serif; font-variation-settings: "slnt" 0, "wght" 400; color: #ffffff; letter-spacing: -0.02em;}
.slider_text a, section h4, .content2 {font-family: termina, sans-serif; letter-spacing: -0.04em;}

.clearfix::after {display: block; content:""; clear: both;}

nav, .h_logo {mix-blend-mode: normal;}

nav li {font-variation-settings: "slnt" 0, "wght" 300;}
nav li:nth-child(1) {font-variation-settings: "slnt" 0, "wght" 700;}
nav li:nth-child(1) a {opacity: 1;}

nav a {color: #eeeeee;}

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider_img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.slider_img li {
    width: 100%;
    position: absolute;
    display: none;
}

.slider_img li:nth-child(1) {display: block;}

.slider .gradient_box, .slider_text {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.slider .gradient_box {background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.7), rgba(0,0,0,1));}

.slider_text li {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 8%;
    bottom: 0;
}

.slider_text li:nth-child(4) {display: block;}

.slider_text a {
    display: block;
    position: absolute;
    bottom: 70%;
    font-size: 64px;
    font-weight: 300;
    line-height: 75px;
}

.slider_text p {
    position: absolute;
    top: 40%;
    font-variation-settings: "slnt" 0, "wght" 200;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #999999;
    mix-blend-mode: screen;
}

.prev, .next {
    width: 80px;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    opacity: 0.5;
    mix-blend-mode: screen;
    cursor: pointer;
}

.next {left: calc(100% - 80px);}

.prev:hover, .next:hover {opacity: 0.8;}

.content1 {
    width: 90%;
    margin: 0 auto;
}

.content1 h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.content1 h4 span {
    display: block;
    font-size: 10px;
    font-weight: 200;
}

.con1_title {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    position: relative;
    border-bottom: 1px solid #999999
}

.con1_title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-variation-settings: "slnt" 0, "wght" 600;
}

.con1_filter {margin: 60px 0;}

.con1_filter ul {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.con1_filter li {
    font-size: 50px;
    font-variation-settings: "slnt" 0, "wght" 600;
    text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
    color: #000000;
    transition-duration: 0.1s;
    cursor: pointer;
}

.con1_filter li:hover {
    text-shadow: none;
    color: #ffffff;
}

.con1_main ul, .con1_sub ul {
    display: flex;
    justify-content: space-between;
}

.con1_main li {
    width: 49%;
    position: relative;
}

.con1_main h4 {
    position: absolute;
    left: 6%;
    bottom: 10%;
    font-size: 22px;
}

.con1_main .gradient_box {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0.8));
}

.con1_sub li {
    width: 32%;
    margin-top: 3%;
}

.con1_sub h4 {margin-top: 20px;}

.con1_video {
    margin: 10% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videobox {
    width: 55%;
    aspect-ratio: 1 / 0.5623;
    position: relative;
}

.videobox div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.con1_textbox {
    width: 40%;
    height: fit-content;
}

.con1_textbox h4 {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 30px;
}

.con1_textbox span {margin-bottom: 8px;}

.con1_textbox p {
    font-variation-settings: "slnt" 0, "wght" 200;
    letter-spacing: 0;
    line-height: 24px;
    color: #999999;
}

.content2 {
    padding: 300px 0;
    position: relative;
    background: url(../img/original_series/6.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient_box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0.5));
}

.con2_textbox {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content2 h3 {
    font-family: "Newsreader", serif;
    font-size: 40px;
    font-variation-settings: "slnt" 0, "wght" 200;
}

.content2 p {
    margin: 60px 0 80px 0;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: 0;
}

.content2 a {
    text-decoration: underline;
    transition-duration: 0.15s;
}

.content2 a:hover {opacity: 0.6;}