@charset "utf-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {width: 100%;}

body {background-color: #ffffff; font-family: inter-variable, sans-serif; font-variation-settings: "slnt" 0, "wght" 400; color: #000000; letter-spacing: -0.02em;}
section {line-height: 1.6em;}
.products h3 {font-family: termina, sans-serif; font-weight: 600; letter-spacing: -0.04em;}

.clearfix::after {display: block; content:""; clear: both;}

nav li:nth-child(3) {font-variation-settings: "slnt" 0, "wght" 700; color: #000000;}
nav li:nth-child(3) a {opacity: 1;}

nav a {
    color: #ffffff;
    opacity: 0.4;
}

.filter {
    width: 88%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
}

.filter ul {width: 30%;}

.filter li {
    width: 430px;
    height: 74px;
    position: relative;
    font-size: 55px;
    font-variation-settings: "slnt" 0, "wght" 700;
    letter-spacing: -0.05em;
    line-height: 74px;
    color: #ffffff;
    text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
    transition-duration: 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.filter li div {
    position: absolute;
    top: 70px;
}

.filter_on {
    color: #000000!important;
    text-shadow: none!important;
}

section {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 120px;
    position: relative;
}

article {
    width: 100%;
    opacity: 0;
    position: relative;
    overflow: hidden;
}

.borderline {
    width: 0%;
    margin: 0 auto;
    border-top: 1px solid #000000;
    animation-name: extend;
    animation-duration: 1.4s;
    /* animation-timing-function: linear; */
    animation-fill-mode: forwards;
}

@keyframes extend {
    50% {width: 0;}
    100% {width: 100%;}
}

h2 {
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 70px;
    font-variation-settings: "slnt" 0, "wght" 600;
    letter-spacing: -0.03em;
    text-align: center;
}

.products {
    width: 100%;
    margin-top: 220px;
}

.products_wrap {
    width: 100%;
    position: relative;
}

.products_wrap>ul, .long_height_wrap>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products_wrap>ul {
    width: 100%;
    position: absolute;
}

.long_height_wrap>ul {width: 100%;}

.products li {width: 32%; opacity: 0;}

.products li a {transition-duration: 0.15s;}
.products li a:hover {opacity: 0.85;}

.products li.long_width, .products li.long_height_wrap {width: 66%;}

.products li.long_height_wrap li {width: 48.5%;}

.products li.special {width: 100%;}

.img_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img6 {width: 66%;}
.sub_img {width: 32%;}

.img {height: 330px;}

.Synthesizers .img1 {background: url(../img/Synthesizers/1.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img2 {background: url(../img/Synthesizers/2.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img3 {background: url(../img/Synthesizers/3.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img4 {background: url(../img/Synthesizers/4.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img5 {background: url(../img/Synthesizers/5.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img6 {background: url(../img/Synthesizers/6.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .sub_img {background: url(../img/Synthesizers/6_sub.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img7 {background: url(../img/Synthesizers/7.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img8 {background: url(../img/Synthesizers/8.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img9 {background: url(../img/Synthesizers/9.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img10 {background: url(../img/Synthesizers/10.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img11 {background: url(../img/Synthesizers/11.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img12 {background: url(../img/Synthesizers/12.webp) no-repeat; background-size: cover; background-position: center;}
.Synthesizers .img13 {background: url(../img/Synthesizers/13.webp) no-repeat; background-size: cover; background-position: center;}

.Theremins .img1 {background: url(../img/Synthesizers/Theremins/1.webp) no-repeat; background-size: cover; background-position: center;}
.Theremins .img2 {background: url(../img/Synthesizers/Theremins/2.webp) no-repeat; background-size: cover; background-position: center;}
.Theremins .img3 {background: url(../img/Synthesizers/Theremins/3.webp) no-repeat; background-size: cover; background-position: center;}

.text {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 15px;
}

.products h3 {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.text_group {width: 32%;}

.special .text, .products li:nth-child(10) .text {
    display: flex;
    justify-content: space-between;
}

.detail {width: 66%;}

.discount {
    font-size: 14px;
    text-decoration: line-through;
    opacity: 0.3;
    margin-left: 6px;
}

.sold_out {
    width: 66px;
    height: 17px;
    margin-top: -2px;
    margin-left: 10px;
    background-color: red;
    font-family: inter-variable, sans-serif;
    font-size: 10px;
    font-variation-settings: "slnt" 0, "wght" 600;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0;
    color: #ffffff;
}

.Synthesizers li:nth-child(10) {margin-left: 2%;}

.page_divider {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
    z-index: 10;
}

.read_more {
    width: 130px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

h2, .products_wrap {display: none;}
h2:nth-child(1), .products_wrap:nth-child(1) {display: block;}